<!DOCTYPE html>
<html>
<head>
    <title>Cloud Server</title>
    <link rel="stylesheet" th:href="@{css/uploadFile.css}">

    <script
            crossorigin="anonymous"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script language="JavaScript" th:src="@{js/uploadfile.js}" type="text/javascript"></script>

    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
</head>
<body>
<div class="hero container">
    <div class="form-box container" id="box">
        <div class="container">
            <form class="input-group container" id="upload">
                <label class="submit-btn">
                    <input class="submit-btn" id="files" multiple name="upload" required type="file"> Choose File
                </label>
                &nbsp;
                <button class="submit-btn submit-btn-custom" id="upload-btn" type="button">upload</button>
                &nbsp;
                <div class="containerA" id="FilesDiv">

                </div>
            </form>
        </div>
    </div>


</div>

</body>
</html>
